---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%d/%m/%Y" }}
      </time>
      {% if page.categories and page.categories.size > 0 %}
        · {{ page.categories | join: ", " }}
      {% endif %}
    </p>
    {% if page.cover %}
      <img src="{{ page.cover }}" alt="Capa do post {{ page.title }}" />
    {% endif %}
  </header>
  <div>
    {{ content }}
  </div>
</article>
